@page "/admin/nova-aukcna-ponuka"
@page "/admin/uprava-aukcnej-ponuky/{AuctionOfferId:int}"

@attribute [Authorize(Roles = "Administrator")]
@inject IServISApi api
@inject ILogger<CreateAuctionOffer> logger
@inject NavigationManager navMan

<h3>Prídavné zariadenia- @(AuctionOfferId.HasValue ? "úprava existujúceho" : "vytvorenie nového") záznamu</h3>

@if (AuctionOffer == null)
{
	<p>Načítava sa...</p>
}
else
{
	<AuctionOfferForm Item="@AuctionOffer" OnSave="@(() => navMan.NavigateTo("/aukcia"))" />
}

@code {
	[Parameter]
	public int? AuctionOfferId { get; set; } = null!;

	private AuctionOffer AuctionOffer { get; set; } = null!;

	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		if (AuctionOfferId.HasValue)
		{// edit of existing auction offer
			try
			{
				AuctionOffer = await api.GetAuctionOfferAsync(AuctionOfferId.Value);
			}
			catch (Exception ex)
			{
				logger.LogError(ex, $"Auction offer with id {AuctionOfferId.Value} not found.");
			}
		}
		else
		{// new auction offer
			AuctionOffer = new();
		}
	}
}
