@page "/admin/nove-pridavne-zariadenie"

@attribute [Authorize(Roles = "Administrator")]
@inject NavigationManager navMan

<h3>Prídavné zariadenia- vytvorenie nového záznamu</h3>

<AdditionalEquipmentForm Item="@AdditionalEquipment" OnSave="@(() => navMan.NavigateTo("/pridavne-zariadenia"))" />

@code {
	private AdditionalEquipment AdditionalEquipment { get; set; } = new();
}
