@page "/admin/nove-pridavne-zariadenie"

@attribute [Authorize(Roles = "Administrator")]

<h3>Prídavné zariadenia- vytvorenie nového záznamu</h3>

<AdditionalEquipmentForm AdditionalEquipment="AdditionalEquipment" />

@code {
	private AdditionalEquipment AdditionalEquipment { get; set; } = new();
}
