@page "/admin/nova-ponuka"
@page "/admin/uprava-ponuky/{MainOfferId:int}"

@attribute [Authorize(Roles = "Administrator")]
@inject IServISApi api
@inject NavigationManager navMan

@if (MainOffer == null)
{
	<p>Načítava sa...</p>
}
else
{
	<MainOfferForm MainOffer="MainOffer" AfterValidSubmit="@(() => navMan.NavigateTo("/"))" />
}

@code {
	[Parameter]
	public int? MainOfferId { get; set; } = null!;

	public MainOffer MainOffer { get; private set; } = null!;

	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		if (MainOfferId.HasValue)
		{
			try
			{
				MainOffer = await api.GetMainOfferAsync(MainOfferId.Value);
			}
			catch
			{
				throw new Exception($"Main offer with id {MainOfferId.Value} not found.");
			}
		}
		else
		{
			MainOffer = new();
		}
	}
}
