@inject IServISApi api

<h3>Správa strojov</h3>

<ExcavatorForm @bind-Excavator="SelectedExcavator" AfterValidSubmit="async () => await ReloadExcavatorsAsync()" />

<ItemsTableLister ItemType="Excavator"
				  @ref="excavatorsLister"
				  @bind-SelectedItem="SelectedExcavator"
				  Title="Zoznam strojov"
				  Context="e"
				  GetItemsAsync="async (int numberOfExcavators, int startIndex) =>
									await api.GetExcavatorsAsync(numberOfExcavators, startIndex)"
				  GetItemsTotalCountAsync="async () => await api.GetExcavatorsCountAsync()"
				  DeleteItemAsync="async (excavator) => await api.DeleteExcavatorAsync(excavator)">
	<HeadCols>
		<th>Názov</th>
		<th>Kategória</th>
		<th>Značka</th>
	</HeadCols>
	<BodyCols>
		<td>@e.Name</td>
		<td>@e.Type.Category.Category</td>
		<td>@e.Type.Brand.Brand</td>
	</BodyCols>
</ItemsTableLister>

@code {
	private ItemsTableLister<Excavator> excavatorsLister = null!;

	public Excavator SelectedExcavator { get; private set; } = new();

	public async Task ReloadExcavatorsAsync()
	{
		await excavatorsLister.ReloadItemsAsync();
	}
}
