@inject IServISApi api

<h3>Správa náhradných dielov</h3>

<SparePartForm @bind-SparePart="SelectedSparePart" AfterValidSubmit="async () => await ReloadSparePartsAsync()" />

<ItemsTableLister ItemType="SparePart"
				  @ref="sparePartsLister"
				  @bind-SelectedItem="SelectedSparePart"
				  Title="Zoznam náhradných dielov"
				  Context="sp"
				  GetItemsAsync="async (int numberOfSpareParts, int startIndex) =>
									await api.GetSparePartsAsync(numberOfSpareParts, startIndex)"
				  GetItemsTotalCountAsync="async () => await api.GetSparePartsCountAsync()"
				  DeleteItemAsync="async (sparePart) => await api.DeleteSparePartAsync(sparePart)" >
	<HeadCols>
		<th>Katalógové číslo</th>
		<th>Názov</th>
		<th>Počet strojov s dielom</th>
	</HeadCols>
	<BodyCols>
		<td>@sp.CatalogNumber</td>
		<td>@sp.Name</td>
		<td>@sp.Excavators.Count</td>
	</BodyCols>
</ItemsTableLister>

@code {
	private ItemsTableLister<SparePart> sparePartsLister = null!;

	public SparePart SelectedSparePart { get; private set; } = new();

	public async Task ReloadSparePartsAsync()
	{
		await sparePartsLister.ReloadItemsAsync();
	}
}
