<div class="card-main-box">
	<div class="card-main-title card-main-title-eurocomach">
		@Brand
	</div>

	<div class="card-main-subtitle">
		(@Category)
	</div>

	<img class="card-main-img card-main-img-eurocomach-pas" src="@PathToImage" />

	<div class="card-main-text">
		@Description
	</div>

	<div class="card-main-button card-main-button-eurocomach">
		<a href="@Link">Zobraziť</a>
	</div>
</div>

@code {
	[EditorRequired]
	[Parameter]
	public string Brand { get; set; } = null!;

	[EditorRequired]
	[Parameter]
	public string Category { get; set; } = null!;

	[EditorRequired]
	[Parameter]
	public string PathToImage { get; set; } = null!;

	[EditorRequired]
	[Parameter]
	public string Description { get; set; } = null!;

	[EditorRequired]
	[Parameter]
	public string Link { get; set; } = null!;
}
