@inherits LayoutComponentBase

<PageTitle>ServISWebApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="o-nas"><span class="oi oi-phone" aria-hidden="true"></span> +421 905 384 939</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
