@page "/kontakt"

<table class="table">
  <thead>
    <tr>
      <th scope="col">Firma</th>
      <th scope="col">Telefón</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">B-Servis</th>
      <td>dastroslovakia@azet.sk</td>
      <td>+421 905 384 939</td>
    </tr>
    <tr>
      <th scope="row">Detvaservis</th>
      <td>predaj@detvaservis.sk</td>
      <td>+421 455 454 764</td>
    </tr>
  </tbody>
</table>

@*Form/chat?*@

@code {

}
