@page "/pasove-bagre-eurocomach"

<h3>Eurocomach- Pásové bagre</h3>

<a href="/admin/novy-stroj/pasove-bagre/eurocomach">Pridať novú ponuku</a>

@*pásové bagre -> tracked excavators*@
<ExcavatorsLister ExcavatorBrand="eurocomach"
				  ExcavatorCategory="pásové bagre" />

@code {

}
