@page "/excavator/{excavatorId:int}"

@*<div class="container">
  <div class="row">
    <div class="col">
      <PhotoSlider />
    </div>

    <div class="col">
      <p>Kratky popis stroja</p>
      <button>Dopyt</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      Form/Chat
    </div>
  </div>

  <div class="row">
    <div class="col">
      Column
    </div>
  </div>
</div>
*@
@code {

}
