@inherits ItemsManagementBase<AdditionalEquipmentCategory>
@inject IServISApi api
@using ServISWebApp.Components.Managements

<h3>Správa kategórií prídavných zariadení</h3>

<h4>Vytvorenie nového záznamu</h4>
<AdditionalEquipmentCategoryForm @bind-AdditionalEquipmentCategory="this.SelectedItem"
								 AfterValidSubmit="async () => await this.ReloadItemsAsync()" />

<h4>Zoznam kategórií prídavných zariadení</h4>
<ItemsTableLister ItemType="AdditionalEquipmentCategory"
				  @ref="this.itemsLister"
				  @bind-SelectedItem="this.SelectedItem"
				  GetItemsAsync="async (int numberOfAdditionalEquipmentCategories, int startIndex) =>
									await api.GetAdditionalEquipmentCategoriesAsync(numberOfAdditionalEquipmentCategories, startIndex)"
				  GetItemsTotalCountAsync="async () => await api.GetAdditionalEquipmentCategoriesCountAsync()"
				  DeleteItemAsync="async (additionalEquipmentCategory) => await api.DeleteAdditionalEquipmentCategoryAsync(additionalEquipmentCategory)"
				  Context="aec">
	<HeadCols>
		<th>Názov kategórie:</th>
		<th>Počet príd. zar.:</th>
	</HeadCols>
	<BodyCols>
		<td>@aec.Category</td>
		<td>@aec.AdditionalEquipmentsOfThisCategory.Count</td>
	</BodyCols>
</ItemsTableLister>

@code {

}
