@inherits ItemsManagementBase<Excavator>
@inject IServISApi api
@using ServISWebApp.Components.Managements

<h3>Správa strojov</h3>

<ExcavatorForm @bind-Excavator="this.SelectedItem"
			   AfterValidSubmit="async () => await this.ReloadItemsAsync()" />

<ItemsTableLister ItemType="Excavator"
				  @ref="this.itemsLister"
				  @bind-SelectedItem="this.SelectedItem"
				  Title="Zoznam strojov"
				  GetItemsAsync="async (int numberOfExcavators, int startIndex) =>
									await api.GetExcavatorsAsync(numberOfExcavators, startIndex)"
				  GetItemsTotalCountAsync="async () => await api.GetExcavatorsCountAsync()"
				  DeleteItemAsync="async (excavator) => await api.DeleteExcavatorAsync(excavator)"
				  Context="e">
	<HeadCols>
		<th>Názov</th>
		<th>Kategória</th>
		<th>Značka</th>
	</HeadCols>
	<BodyCols>
		<td>@e.Name</td>
		<td>@e.Type.Category.Category</td>
		<td>@e.Type.Brand.Brand</td>
	</BodyCols>
</ItemsTableLister>

@code {
	
}
