@inherits ItemsManagementBase<ExcavatorType>
@inject IServISApi api
@using ServISWebApp.Components.Managements

<h3>Správa typov strojov</h3>

<ExcavatorTypeForm @bind-ExcavatorType="this.SelectedItem"
				   AfterValidSubmit="async () => await this.ReloadItemsAsync()" />

<ItemsTableLister ItemType="ExcavatorType"
				  @ref="this.itemsLister"
				  @bind-SelectedItem="this.SelectedItem"
				  Title="Zoznam typov strojov"
				  GetItemsAsync="async (int numberOfExcavatorTypes, int startIndex) =>
									await api.GetExcavatorTypesAsync(numberOfExcavatorTypes, startIndex)"
				  GetItemsTotalCountAsync="async () => await api.GetExcavatorTypesCountAsync()"
				  DeleteItemAsync="async (excavatorType) => await api.DeleteExcavatorTypeAsync(excavatorType)"
				  Context="et">
	<HeadCols>
		<th>Značka</th>
		<th>Kategória</th>
		<th>Počet strojov</th>
	</HeadCols>
	<BodyCols>
		<td>@et.Brand.Brand</td>
		<td>@et.Category.Category</td>
		<td>@et.ExcavatorsOfThisType.Count</td>
	</BodyCols>
</ItemsTableLister>

@code {
	
}
