@inherits ItemsManagementBase<ExcavatorPropertyType>
@inject IServISApi api
@using ServISData
@using ServISWebApp.Components.Managements

<h3>Správa typov vlastností strojov</h3>

<h4>Vytvorenie nového záznamu</h4>
<ExcavatorPropertyTypeForm @bind-PropertyType="this.SelectedItem"
						   AfterValidSubmit="async () => await this.ReloadItemsAsync()" />

<h4>Zoznam typov vlastností strojov</h4>
<ItemsTableLister ItemType="ExcavatorPropertyType"
				  @ref="this.itemsLister"
				  @bind-SelectedItem="this.SelectedItem"
				  GetItemsAsync="async (int numberOfExcavatorPropertyTypes, int startIndex) =>
									await api.GetExcavatorPropertyTypesAsync(numberOfExcavatorPropertyTypes, startIndex)"
				  GetItemsTotalCountAsync="async () => await api.GetExcavatorPropertyTypesCountAsync()"
				  DeleteItemAsync="async (excavatorPropertyType) => await api.DeleteExcavatorPropertyTypeAsync(excavatorPropertyType)"
				  Context="ept">
	<HeadCols>
		<th>Názov</th>
		<th>Typ vlastnosti</th>
		<th>Počet typov strojov s touto vlastnosťou</th>
	</HeadCols>
	<BodyCols>
		<td>@ept.Name</td>
		<td>@ept.InputType.GetLabel()</td>
		<td>@ept.ExcavatorTypesWithThisProperty.Count</td>
	</BodyCols>
</ItemsTableLister>

@code {

}
