@inherits ItemsManagementBase<SparePart>
@inject IServISApi api
@using ServISWebApp.Components.Managements

<h3>Správa náhradných dielov</h3>

<h4>Vytvorenie nového záznamu</h4>
<SparePartForm @bind-SparePart="this.SelectedItem"
			   AfterValidSubmit="async () => await this.ReloadItemsAsync()" />

<h4>Zoznam náhradných dielov</h4>
<ItemsTableLister ItemType="SparePart"
				  @ref="this.itemsLister"
				  @bind-SelectedItem="this.SelectedItem"
				  GetItemsAsync="async (int numberOfSpareParts, int startIndex) =>
									await api.GetSparePartsAsync(numberOfSpareParts, startIndex)"
				  GetItemsTotalCountAsync="async () => await api.GetSparePartsCountAsync()"
				  DeleteItemAsync="async (sparePart) => await api.DeleteSparePartAsync(sparePart)"
				  Context="sp">
	<HeadCols>
		<th>Katalógové číslo</th>
		<th>Názov</th>
		<th>Počet strojov s dielom</th>
	</HeadCols>
	<BodyCols>
		<td>@sp.CatalogNumber</td>
		<td>@sp.Name</td>
		<td>@sp.Excavators.Count</td>
	</BodyCols>
</ItemsTableLister>

@code {
	
}
