<div class="card mb-3 pos-rel" style="max-width: 540px;">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="@imgSrc" class="img-fluid rounded-start" alt="Fotka prídavného zariadenia @AdditionalEquipmentPhoto.AdditionalEquipment.Name">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">@AdditionalEquipmentPhoto.AdditionalEquipment.Name</h5>
				<p class="card-text">@AdditionalEquipmentPhoto.AdditionalEquipment.Description</p>
			</div>
		</div>
	</div>
	@if (OnDelete.HasDelegate)
	{
		<AuthorizeView Roles="Administrator">
			<button class="btn btn-danger delete-btn" @onclick="() => OnDelete.InvokeAsync()">X</button>
		</AuthorizeView>
	}
</div>

@code {
	private string imgSrc = null!;

	[EditorRequired]
	[Parameter]
	public AdditionalEquipmentPhoto AdditionalEquipmentPhoto { get; set; } = null!;

	[Parameter]
	public EventCallback OnDelete { get; set; }

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		imgSrc = FileTools.GetDataUrlBase64String(AdditionalEquipmentPhoto.Photo, "images/jpeg");
	}
}
