@using ServISWebApp.BackgroundServices;
@implements IDisposable

<span>@GetCountdown()</span>

@code {
	private bool isEnded;

	[Parameter]
	public DateTime EndTime { get; set; }

	[Parameter]
	public string EndMessage { get; set; } = "0d 0h 0m 0s";

	[Parameter]
	public EventCallback OnEnded { get; set; }

	protected override void OnInitialized()
	{
		base.OnInitialized();

		EverySecondTimerService.RegisterEventHandler(NotifyStateHasChanged);
	}

	public void Dispose()
	{
		if (isEnded)
		{
			/* If isEnded is true it means the method was already unregistered
			 * (to avoid unnecessary rerenders). */
			return;
		}

		EverySecondTimerService.UnregisterEventHandler(NotifyStateHasChanged);
	}

	private async Task NotifyStateHasChanged() => await InvokeAsync(() => StateHasChanged());

	private string GetCountdown()
	{
		var timeRemaining = EndTime - DateTime.Now;
		if (timeRemaining <= TimeSpan.Zero)
		{
			if (!isEnded)
			{// this if is here to assure the code in it will run only once
				isEnded = true;
				OnEnded.InvokeAsync();
				Dispose();
			}
			return EndMessage;
		}

		return $"{timeRemaining:%d}d {timeRemaining:%h}h {timeRemaining:%m}m {timeRemaining:%s}s";
	}
}
