<div class="pos-rel">
	<a href="/stroj/@Id">
		<div class="card excavator-card-content">
			<img src="@imgSrc" class="card-img-top" alt="@Title">
			<div class="card-body" style="height: 88px;">
				<h5 class="card-title">@Title</h5>
			</div>
		</div>
	</a>
	@if (OnDelete.HasDelegate)
	{
		<AuthorizeView Roles="Administrator">
			<button class="btn btn-danger delete-btn" onclick="@(() => OnDelete.InvokeAsync())">X</button>
		</AuthorizeView>
	}
</div>

@code {
	private string imgSrc = null!;

	[EditorRequired, Parameter]
	public int Id { get; set; }

	[EditorRequired, Parameter]
	public string Title { get; set; } = null!;

	[EditorRequired, Parameter]
	public byte[] Image { get; set; } = null!;

	[Parameter]
	public EventCallback OnDelete { get; set; }

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		imgSrc = FileTools.GetDataUrlBase64String(Image, "images/jpeg");
	}
}
