@inject IServISApi api

<h4>Typy strojov:</h4>

@if (AllExcavatorTypes == null)
{
	<p>Načítava sa...</p>
}
else if (AllExcavatorTypes.Count == 0)
{
	<p>Žiadne typy strojov.</p>
}
else
{
	@if (ExcavatorType != null)
	{
		<InputSelect Value="ExcavatorType.Id"
					 ValueExpression="() => ExcavatorType.Id"
					 ValueChanged="async (int excavatorTypeId) => await UpdateExcavatorType(excavatorTypeId)">
			@if (AllExcavatorTypes == null)
			{
				<p>Načítava sa...</p>
			}
			else
			{
				@foreach (var excavatorType in AllExcavatorTypes)
				{
					<option value="@excavatorType.Id">@excavatorType.Category (@excavatorType.Brand)</option>
				}
			}
		</InputSelect>
	}
}

@code {
	[Parameter]
	public ExcavatorType ExcavatorType { get; set; } = null!;

	[Parameter]
	public EventCallback<ExcavatorType> ExcavatorTypeChanged { get; set; }

	[Parameter]
	public EventCallback OnSelect { get; set; }

	private List<ExcavatorType> AllExcavatorTypes { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		AllExcavatorTypes = await api.GetExcavatorTypesAsync();
	}

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		if (ExcavatorType == null)
		{
			throw new Exception($"Parameter '{nameof(ExcavatorType)}' not provided.");
		}
	}

	private async Task UpdateExcavatorType(int excavatorTypeId)
	{
		var excavatorTypeTmp = AllExcavatorTypes.FirstOrDefault(t => t.Id == excavatorTypeId)!;
		if (excavatorTypeTmp != null)
		{
			ExcavatorType = excavatorTypeTmp;
			await ExcavatorTypeChanged.InvokeAsync(ExcavatorType);

			if (OnSelect.HasDelegate)
			{
				await OnSelect.InvokeAsync();
			}
		}
	}
}
