@inherits InputText

<div id="input-password">
	@* form-control class is sometimes passed via CssClass, but not always.
	   That's why it is here written explicitly *@
	<input @attributes="AdditionalAttributes"
		   class="@CssClass form-control"
		   type="@(isPasswordVisible ? "text" : "password")"
		   @bind="CurrentValueAsString"
		   @bind:event="oninput" />
	@* In icon element we have attribute style where we set "right" to
	   {the value of "right" in .razor.css file in rule for #visibility-toggle - 1},
	   because for some reason when clicked, the icon moved a bit... *@
	<i id="visibility-toggle"
	   class="fas @(isPasswordVisible ? "fa-eye" : "fa-eye-slash")"
	   style="@(isPasswordVisible ? "" : "right: 11px;")"
	   @onclick="() => isPasswordVisible = !isPasswordVisible"></i>
</div>

@code {
	private bool isPasswordVisible;
}
