#input-password {
	position: relative;
}

#visibility-toggle {
	position: absolute;
	top: 13px;
	right: 12px;
	cursor: pointer;
}

.form-control.is-valid, .was-validated .form-control:valid {
	/* This rule exists because the green check mark was overlapping the eye icon */
	background-position: right 35px center;
}
