@inject AuthenticationStateProvider authStateProvider
@using ServISWebApp.Auth

<div id="login-panel" class="servis-outline">
	<AuthorizeView>
		<Authorized>
			<a href="/profil" id="profile-btn" class="login-panel-btn servis-outline">Profil</a>
			<a href="javascript:void(0)" id="logout" class="d-flex align-items-center" @onclick="LogoutAsync">Odhlásiť</a>
		</Authorized>
		<NotAuthorized>
			<a href="/prihlasovanie" id="login-btn" class="login-panel-btn servis-outline">Prihlásiť</a>
			<a href="/registracia" id="register-btn" class="login-panel-btn servis-outline">Registrovať</a>
		</NotAuthorized>
	</AuthorizeView>
</div>

@code {
	private async Task LogoutAsync()
	{
		var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
		await customAuthStateProvider.LogoutAsync();
	}
}
