.my-container {
	position: relative;
	width: 100%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
}

.top-right {
	position: absolute;
	right: 8px;
	top: 8px;
}

.paging-panel {
	margin-top: 8px;
}

	.paging-panel * {
		margin: 0 4px;
	}
