@inject ILogger<PhotoSlider> logger

@if (Images != null)
{
	<div id="photo-slider" class="carousel slide w-100">
		<div class="carousel-indicators">
			@for (int i = 0; i < Images.Count; i++)
			{
				int iCopy = i;

				<button class="@GetCssActiveClass(iCopy)" @onclick="() => SlideTo(iCopy)" aria-hidden="true"></button>
			}
		</div>
		<div class="carousel-inner">
			@for (int i = 0; i < Images.Count; i++)
			{
				<div class="carousel-item @GetCssActiveClass(i)">
					<img src=@FileTools.GetDataUrlBase64String(Images[i], "images/jpeg") 
						 class="d-block img-fluid w-100" 
						 alt="Fotka @(i + 1)">
				</div>
			}
		</div>
		<button class="carousel-control-prev" href="#photo-slider" role="button" @onclick="() => SlidePrev()">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" href="#photo-slider" role="button" @onclick="() => SlideNext()">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
}

@code {
	private int index = 0;

	[EditorRequired, Parameter]
	public List<byte[]> Images { get; set; } = null!;

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		if (Images.Count == 0)
		{
			var exMsg = "No image provided for the photo slider.";
			var ex = new Exception(exMsg);
			logger.LogError(ex, exMsg);
			throw ex;
		}
	}

	private void SlidePrev()
	{
		int tmp = index - 1;
		if (tmp < 0)
		{
			index = Images.Count + tmp;
		}
		else
		{
			index = tmp % Images.Count;
		}
	}

	private void SlideNext()
	{
		index = (index + 1) % Images.Count;
	}

	private void SlideTo(int newIndex)
	{
		if (newIndex < 0 || newIndex >= Images.Count)
		{
			return;
		}

		index = newIndex;
	}

	private string GetCssActiveClass(int i) => i == index ? "active" : "inactive";
}
