.inactive {
	opacity: 0.75;
}

.carousel {
	margin-top: auto;
	margin-bottom: auto;
}

.carousel-indicators > button {
	border-style: none;
	margin: 0.5px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	background-color: #aaaaaaff;
}

.carousel-indicators button {
	background-color: #aaaaaaff;
}
