<button class="icon-btn" disabled="@IsDisabled" @onclick="HandleClick"><i class="fas fa-trash-alt"></i></button>

@code {
	[Parameter]
	public bool IsDisabled { get; set; }

	[Parameter]
	public EventCallback OnClick { get; set; }

	private async Task HandleClick()
	{
		if (IsDisabled)
		{
			return;
		}

		await OnClick.InvokeAsync();
	}
}
