@page "/pridavne-zariadenia"

<h3>Prídavné zariadenia</h3>

<AuthorizeView Roles="Administrator">
	<a href="/admin/nove-pridavne-zariadenie">Pridať novú položku</a>
</AuthorizeView>

<AdditionalEquipmentsLister />

@code {

}
