@page "/pridavne-zariadenia"

<AuthorizeView Roles="Administrator">
	<a href="/admin/nove-pridavne-zariadenie">Pridať nové prídavné zariadenie</a>
</AuthorizeView>

<AdditionalEquipmentsLister Title="Prídavné zariadenia" />

@code {
	
}
