@page "/unc-locust-po-repase-a-go"
@page "/aukcia"

<AuthorizeView Roles="Administrator">
	<a href="/admin/nova-aukcna-ponuka">Pridať novú aukčnú ponuku</a>
</AuthorizeView>

<AuctionOffersLister Title="Aukcia strojov UNC po repase a GO" />

@code {

}
