@page "/smykom-riadene-nakladace-eurocomach"

<h3>Eurocomach- Šmykom riadené nakladače</h3>

<a href="/admin/novy-stroj/smykom-riadene-nakladace/eurocomach">Pridať novú ponuku</a>

@*šmykom riadené nakladače -> skid steer loaders*@
<ExcavatorsLister ExcavatorBrand="eurocomach"
				  ExcavatorCategory="šmykom riadené nakladače" />

@code {

}
