@page "/typ-stroja/{ExcavatorTypeId:int}"

@inject IServISApi api

@if (excavatorTypeExists && ExcavatorType is not null)
{
	<AuthorizeView Roles="Administrator">
		<a href="/admin/novy-stroj/@ExcavatorTypeId">Pridať nový stroj tohto typu</a>
	</AuthorizeView>

	<ExcavatorsLister ExcavatorType="@ExcavatorType"
					  Title="@($"{@ExcavatorType.Category.Category}- {@ExcavatorType.Brand.Brand}")" />
}
else if (!excavatorTypeExists)
{
	<p>Tento typ stroja neexistuje.</p>
}

@code {
	private bool excavatorTypeExists = true;

	[Parameter]
	public int ExcavatorTypeId { get; set; }

	private ExcavatorType ExcavatorType { get; set; } = null!;

	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		try
		{
			ExcavatorType = await api.GetExcavatorTypeAsync(ExcavatorTypeId);
		}
		catch
		{
			Console.WriteLine($"Excavator type with id '{ExcavatorTypeId}' not found.");
			excavatorTypeExists = false;
		}
	}
}
