@page "/typ-stroja/{ExcavatorTypeId:int}"

@inject IServISApi api

<AuthorizeView Roles="Administrator">
	<a href="/admin/novy-stroj/@ExcavatorTypeId">Pridať nový stroj tohto typu</a>
</AuthorizeView>

@if (ExcavatorType == null)
{
	<p>Načítava sa...</p>
}
else
{
	<ExcavatorsLister ExcavatorType="@ExcavatorType"
				      Title="@($"{@ExcavatorType.Category}- {@ExcavatorType.Brand}")" />
}

@code {
	[Parameter]
	public int ExcavatorTypeId { get; set; }

	private ExcavatorType ExcavatorType { get; set; } = null!;

	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		try
		{
			ExcavatorType = await api.GetExcavatorTypeAsync(ExcavatorTypeId);
		}
		catch
		{
			throw new Exception($"Excavator type with id '{ExcavatorTypeId}' not found.");
		}
	}
}
