@page "/"

@inject IServISApi api

<PageTitle>B-Servis | Domov</PageTitle>

<AuthorizeView Roles="Administrator">
	<a href="/admin/nova-ponuka">Pridať novú ponuku</a>
</AuthorizeView>

@if (MainOffers == null)
{
	<p>Načítava sa...</p>
}
else if (MainOffers.Count == 0)
{
	<p>Neexistujú žiadne hlavné ponuky.</p>
}
else
{
	<div class="content wrap-on">
		@foreach (var mainOffer in MainOffers)
		{
			<MainCard MainOffer="@mainOffer"
					  OnDelete="async () => await DeleteMainOfferAsync(mainOffer)" />
		}
	</div>
}
@*	<MainCard Brand="Eurocomach"
			  Category="pásové bagre"
			  PathToImage="images/index/pasove-bagre-eurocomach.png"
			  Description="Naša spoločnosť B-Servis, s.r.o. je predajcom pásových bagrov Eurocomach. V našej ponuke nájdete širokú ponuku bagrov z váhou od 1 do 10 ton, vďaka čomu Vám vieme ponúknuť vhodný typ stroja pre rôzne druhy prác– od práce v interiéri až po väčšie stroje určené na zemné a stavebné práce."
			  Link="/pasove-bagre-eurocomach" />

	<MainCard Brand="Locust"
			  Category="šmykom riadené nakladače"
			  PathToImage="images/index/smykom-riadene-nakladace-locust.png"
			  Description="Nakladač je navrhnutý pre pozemné práce s možnosťou využitia rôznych druhov prídavných zariadení.
			Je obratný, rýchly a so svojou širokou škálou nosnosti si poradí s každým nákladom a s každým povrchom."
			  Link="/smykom-riadene-nakladace-locust" />

	<MainCard Brand="Eurocomach"
			  Category="šmykom riadené nakladače"
			  PathToImage="images/index/smykom-riadene-nakladace-eurocomach.png"
			  Description="Naša spoločnosť B-Servis, s.r.o. je predajcom šmykom riadených nakladačov Eurocomach. Univerzálne šmykom riadené nakladače Eurocomach umožňujú využitie širokej škály prídavných zariadení, čím sú využiteľné vo všetkých hospodárskych oblastiach."
			  Link="/smykom-riadene-nakladace-eurocomach" />

	<MainCard Brand="Eurocomach"
			  Category="pásové nakladače"
			  PathToImage="images/index/pasove-nakladace-eurocomach.png"
			  Description="Naša spoločnosť B-Servis, s.r.o. je predajcom pásových nakladačov Eurocomach. Pásové nakladače Eurocomach sa vyznačujú svojou hybnosťou a bezpečným použitím v akomkoľvek teréne. Obsluhujúcemu personálu ponúka kabína nadštandardný komfort a výhľad, vďaka čomu sa nakladače radia k vrcholu svojej kategórie."
			  Link="/pasove-nakladace-eurocomach" />
*@

@code {
	public List<MainOffer> MainOffers { get; private set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		try
		{
			MainOffers = await api.GetMainOffersAsync();
		}
		catch
		{
			throw new Exception("Error retrieving main offers.");
		}
	}

	private async Task DeleteMainOfferAsync(MainOffer mainOffer)
	{
		await api.DeleteMainOfferAsync(mainOffer);
		MainOffers.Remove(mainOffer);

		StateHasChanged();
	}
}
