@page "/smykom-riadene-nakladace-locust"

<h3>Locust- Šmykom riadené nakladače</h3>

<AuthorizeView Roles="Administrator">
<a href="/admin/novy-stroj/smykom-riadene-nakladace/locust">Pridať novú ponuku</a>
</AuthorizeView>

@*šmykom riadené nakladače -> skid steer loaders*@
<ExcavatorsLister ExcavatorBrand="locust"
				  ExcavatorCategory="šmykom riadené nakladače" />

@code {

}
