@page "/prihlasovanie"

@inject IServISApi api
@inject IJSRuntime js
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navMan
@using ServISWebApp.Auth

<EditForm Model="loginData" OnValidSubmit="Authenticate">
	<div class="text-center">
		<h3>Prihlásenie</h3>
	</div>

	<div>
		<label>Prihlasovacie meno</label>
		<InputText @bind-Value="@loginData.Username" />
	</div>

	<div>
		<label>Heslo</label>
		<InputText @bind-Value="@loginData.Password" />
	</div>


	<button class="btn btn-success" type="submit">Prihlásiť</button>
</EditForm>

@code {
	private LoginData loginData = new();

	private async Task Authenticate()
	{
		var user = await api.GetUserAsync(loginData.Username);
		if (user == null || user.Password != loginData.Password)
		{
			await js.InvokeVoidAsync("alert", "Nesprávne prihlasovacie údaje.");
			return;
		}

		var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
		await customAuthStateProvider.UpdateAuthenticationState(new UserSessionStorage
		{
			Username = user.Username,
			Role = user.Role
		});

		navMan.NavigateTo("/", true);
	}

	private class LoginData
	{
		public string Username { get; set; } = "";
		public string Password { get; set; } = "";
	}
}
