@page "/zasady-ochrany-osobnych-udajov"

<h3>Zásady ochrany osobných údajov</h3>

<p>Tu by mal byť text vyhotovený právnikom ohľadom GDPR.</p>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet nec massa rutrum dictum. 
	Phasellus euismod ligula viverra, cursus neque bibendum, sodales risus. Integer dignissim magna 
	eget elit pharetra, quis maximus purus bibendum. Donec vehicula mi sit amet viverra scelerisque. 
	Aenean gravida ipsum nec ante imperdiet congue. Nam ultricies venenatis leo sit amet posuere. 
	Suspendisse potenti. Aliquam sodales tellus non gravida tincidunt. Nulla eget tellus ipsum. Sed 
	quis justo egestas, egestas massa a, condimentum quam. Aenean tempus est nec ultricies scelerisque. 
	Donec lobortis tempor commodo. Curabitur congue id purus nec hendrerit. Ut sapien dui, placerat 
	ut convallis vel, accumsan id tellus. Suspendisse non efficitur urna, in accumsan nibh. Donec 
	accumsan hendrerit justo in molestie. In felis lectus, blandit et ante.
</p>

@code {

}
