@page "/profil"

@attribute [Authorize(Roles = "Administrator,User")]
@using ServISWebApp.Pages.Admin

<h3>Profil</h3>

<TabControl>
	<AuthorizeView Roles="Administrator">
		<Authorized>
			<TabPage TabLabel="Pridanie náhradného dielu">
				<SparePartManagement />
			</TabPage>
		</Authorized>
	</AuthorizeView>
	<AuthorizeView>
		<TabPage TabLabel="Moje údaje">
			<h4>Moje údaje</h4>

			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Prihlasovacie meno:</td>
						<td>@(context.User.Identity?.Name ?? "Chýba meno")</td>
					</tr>
				</tbody>
			</table>
		</TabPage>
	</AuthorizeView>
</TabControl>

@code {

}
