@page "/profil"

@using ServISWebApp.Pages.Admin

<h3>Profil</h3>

<TabControl>
  <TabPage TabLabel="Pridanie náhradného dielu">
    <SparePartManagement />
  </TabPage>
  <TabPage TabLabel="Moje údaje">
    <h1>Tu budú údaje užívateľa...</h1>
  </TabPage>
</TabControl>

@code {

}
