@page "/sluzby"

<h3>Služby</h3>

@*<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <img src="..." class="img-fluid"/>
    <a href="..." class="btn btn-primary">Zobraziť</a>
  </div>
</div>*@

@code {

}
