@page "/sluzby"

<h3>Služby</h3>

@*<div class="card">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <img src="..." class="img-fluid"/>
    <a href="..." class="btn btn-primary">Zobraziť</a>
  </div>
</div>*@

<p>
	Toto je stránka, ktorá by obsahovala text o službách, ktoré firma ponúka.
</p>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et eros non nisi molestie maximus.
	In quis tempus massa. Donec feugiat vitae dui at dictum. Duis interdum egestas lacus et pellentesque.
	Aliquam pulvinar interdum convallis. Donec vitae mauris imperdiet, facilisis lorem elementum, sollicitudin erat.
	Aliquam a feugiat velit, eu viverra risus. Integer maximus purus rhoncus nibh dignissim, vel condimentum nunc varius.
	Nullam ante est, vehicula non facilisis sed, facilisis at lectus. Sed pretium odio id nibh sollicitudin, in ullamcorper est semper.
	Integer scelerisque purus leo, eget ullamcorper lectus facilisis vel. Phasellus ipsum enim, porta nec risus et, placerat rhoncus leo.
	Mauris sit amet cursus ligula. Vivamus risus nulla, feugiat porta enim sed, porttitor iaculis nulla.
	Maecenas lorem justo, vulputate sit amet augue in, condimentum pharetra metus. Aenean justo ante, iaculis sit amet tortor in,
	lacinia lacinia diam. Nam sed leo eu leo tristique iaculis. Aliquam erat volutpat. Integer malesuada dignissim elementum.
	Donec nec lobortis augue, vitae condimentum elit. Vivamus vestibulum sed dolor sed luctus. Praesent a pellentesque neque.
	Nam egestas mi et libero euismod, sit amet venenatis augue elementum.
</p>

<button class="btn btn-primary m-2" @onclick="() => demandForm?.ToggleForm()">Mám záujem o službu!</button>

<DemandForm @ref="demandForm" DemandedItemName="Služba" />

@code {
	private DemandForm demandForm = null!;
}
