@page "/nahradny-diel/{SparePartId:int}"

@inject IServISApi api

@if (SparePart != null)
{
	<h3>Názov: @SparePart.Name</h3>
	<h4>Katalógové číslo: @SparePart.CatalogNumber</h4>

	<div>
		<span>Tento diel sa nachádza v týchto strojoch:</span>

		@foreach (var excavatorTitlePhoto in excavatorTitlePhotos)
		{
			<ExcavatorCard Image="excavatorTitlePhoto.Photo" Title="excavatorTitlePhoto.Excavator.Name" />
		}
	</div>
}

@code {
	private List<ExcavatorPhoto> excavatorTitlePhotos = new();

	[Parameter]
	public int SparePartId { get; set; }

	public SparePart SparePart { get; set; } = null!;

	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		SparePart = await api.GetSparePartAsync(SparePartId);
		if (SparePart != null)
		{
			// TODO: need fix in GetSparePartAsync Include does not work...
			//var excavators = SparePart.Excavators;
			//foreach (var excavator in excavators)
			//{
			//	var excavatorTitlePhoto = await api.GetExcavatorTitlePhotoAsync(excavator.Id);
			//	excavatorTitlePhotos.Add(excavatorTitlePhoto);
			//}
		}
	}
}
