@inherits FormBase<AdditionalEquipmentCategory>
@inject IServISApi api
@using ServISWebApp.CssProviders

<EditForm Model="@Item" OnValidSubmit="SaveItemAsync" class="form-space-items">
	<DataAnnotationsValidator />
	<CustomCssClassProvider ProviderType="BootstrapFieldCssClassProvider" />

	<div class="form-group">
		<label for="additional-equipment-category">Názov kategórie:</label>
		<InputText @bind-Value="Item.Category" id="additional-equipment-category" />
		<ValidationMessage For="@(() => Item.Category)" />
	</div>

	<div>
		<SubmitButton Text="Uložiť" />
		<button class="btn btn-secondary" type="reset" @onclick="ResetAsync">Reset</button>
	</div>
</EditForm>

@code {
	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		if (Item == null)
		{
			throw new Exception($"Parameter '{nameof(Item)}' not provided.");
		}
	}

	public override async Task ResetAsync()
	{
		Item = new();

		if (ItemChanged.HasDelegate)
		{
			await ItemChanged.InvokeAsync(Item);
		}
	}

	public override async Task SaveItemAsync()
	{
		try
		{
			await api.SaveAdditionalEquipmentCategoryAsync(Item);
		}
		catch
		{
			throw new Exception($"Failed to save additional equipment category with id '{Item.Id}'.");
		}

		if (OnSave.HasDelegate)
		{
			await OnSave.InvokeAsync();
		}

		if (AfterSaveAsync != null)
		{
			await AfterSaveAsync();
		}

		await ResetAsync();
	}
}
