@using ServISData
@using ServISWebApp.CssProviders
@inject IServISApi api

<h3>Typy strojov- vytvorenie nového záznamu</h3>

@if (isExcavatorTypeInitialized)
{
	<EditForm Model="ExcavatorType" OnValidSubmit="SaveExcavatorTypeAsync">
		<ObjectGraphDataAnnotationsValidator />
		<CustomCssClassProvider ProviderType="BootstrapFieldCssClassProvider" />

		<ItemsSelector ItemType="ExcavatorBrand"
					   @bind-SelectedItem="ExcavatorType.Brand"
					   Items="AllExcavatorBrands"
					   Label="Značka:"
					   Context="excavatorBrand">
			<OptionText>@excavatorBrand.Brand</OptionText>
		</ItemsSelector>

		<ItemsSelector ItemType="ExcavatorCategory"
				   @bind-SelectedItem="ExcavatorType.Category"
				   Items="AllExcavatorCategories"
				   Label="Kategória:"
				   Context="excavatorCategory">
			<OptionText>@excavatorCategory.Category</OptionText>
		</ItemsSelector>

		<label>Typy vlastností:</label>
		@if (AllPropertyTypes != null && AllPropertyTypesChecked != null && AllPropertyTypes.Count == AllPropertyTypesChecked.Count)
		{
			<ChecklistTable ItemType="ExcavatorPropertyType"
							Items="AllPropertyTypes" 
							@bind-ItemsChecked="AllPropertyTypesChecked" 
							Context="propertyType" >
				<HeaderCols>
					<th>Názov vlastnosti</th>
					<th>Typ vlastnosti</th>
				</HeaderCols>
				<BodyCols>
					<td>@propertyType.Name</td>
					<td>@propertyType.InputType.GetLabel()</td>
				</BodyCols>
			</ChecklistTable>
		}

		<SubmitButton Text="Uložiť" />
		<button class="btn btn-secondary" type="button" @onclick="async () => await ResetAsync()">Reset</button>
	</EditForm>	
}

@code {
	private bool isExcavatorTypeInitialized;

	[Parameter]
	public ExcavatorType ExcavatorType { get; set; } = null!;

	[Parameter]
	public EventCallback<ExcavatorType> ExcavatorTypeChanged { get; set; }

	[Parameter]
	public EventCallback AfterValidSubmit { get; set; }

	private List<ExcavatorBrand> AllExcavatorBrands { get; set; } = null!;

	private List<ExcavatorCategory> AllExcavatorCategories { get; set; } = null!;

	private List<ExcavatorPropertyType> AllPropertyTypes { get; set; } = null!;
	private List<bool> AllPropertyTypesChecked { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		AllExcavatorBrands = await api.GetExcavatorBrandsAsync();
		AllExcavatorCategories = await api.GetExcavatorCategoriesAsync();

		AllPropertyTypes = await api.GetExcavatorPropertyTypesAsync();
		AllPropertyTypesChecked = new bool[AllPropertyTypes.Count].ToList();
	}

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		if (ExcavatorType == null)
		{
			throw new Exception($"Parameter '{nameof(ExcavatorType)}' not provided.");
		}

		if (ExcavatorType.Id == 0)
		{
			InitExcavatorType(ExcavatorType);
		}
		isExcavatorTypeInitialized = true;

		if (AllPropertyTypes != null)
		{
			var propertyTypes = ExcavatorType.PropertyTypes;
			var propertyTypesIds = propertyTypes.Select(pt => pt.Id);
			for (int i = 0; i < AllPropertyTypes.Count; i++)
			{
				var excavatorTypeHasProperty = propertyTypesIds.Contains(AllPropertyTypes[i].Id);
				AllPropertyTypesChecked[i] = excavatorTypeHasProperty;
			}
		}
	}

	private static void InitExcavatorType(ExcavatorType excavatorType)
	{
		excavatorType.Brand ??= new();
		excavatorType.Category ??= new();
		excavatorType.PropertyTypes ??= new List<ExcavatorPropertyType>();
		excavatorType.ExcavatorsOfThisType ??= new List<Excavator>();
	}

	private async Task ResetAsync()
	{
		ExcavatorType = new();

		for (int i = 0; i < AllPropertyTypesChecked.Count; i++)
		{
			AllPropertyTypesChecked[i] = false;
		}

		await ExcavatorTypeChanged.InvokeAsync(ExcavatorType);
	}

	private List<ExcavatorPropertyType> GetCheckedPropertyTypes()
	{
		var checkedPropertyTypes = new List<ExcavatorPropertyType>();

		for (int i = 0; i < AllPropertyTypesChecked.Count; i++)
		{
			if (AllPropertyTypesChecked[i])
			{
				var checkedPropertyType = AllPropertyTypes[i];
				checkedPropertyTypes.Add(checkedPropertyType);
			}
		}

		return checkedPropertyTypes;
	}

	private async Task SaveExcavatorTypeAsync()
	{
		ExcavatorType.PropertyTypes = GetCheckedPropertyTypes();

		// await ExcavatorTypeChanged.InvokeAsync();

		try
		{
			await api.SaveExcavatorTypeAsync(ExcavatorType);
		}
		catch
		{
			throw new Exception($"Failed to save excavator type with id '{ExcavatorType.Id}'.");
		}
		
		if (AfterValidSubmit.HasDelegate)
		{
			await AfterValidSubmit.InvokeAsync();
		}

		await ResetAsync();
	}
}
