@inherits FormBase<ExcavatorPropertyType>
@inject IServISApi api
@using ServISData
@using ServISWebApp.CssProviders

@if (Item != null)
{
	<EditForm Model="@Item" OnValidSubmit="SaveItemAsync" class="form-space-items">
		<DataAnnotationsValidator />
		<CustomCssClassProvider ProviderType="BootstrapFieldCssClassProvider" />

		<div class="form-group">
			<label for="name">Názov vlastnosti:</label>
			<InputText @bind-Value="Item.Name" id="name" />
			<ValidationMessage For="@(() => Item.Name)" />
		</div>

		<div class="form-group">
			<label for="property-type">Typ vlastnosti:</label>
			<InputSelect @bind-Value="Item.InputType" id="property-type">
				@if (InputTypes == null)
				{
					<p>Načítava sa...</p>
				}
				else
				{
					@foreach (var inputType in InputTypes)
					{
						<option value="@inputType">@inputType.GetLabel()</option>
					}
				}
			</InputSelect>
		</div>

		<div>
			<SubmitButton Text="Uložiť" />
			<button class="btn btn-secondary" type="button" @onclick="ResetAsync">Reset</button>
		</div>
	</EditForm>
}

@code {
	private InputType[] InputTypes { get; set; } = null!;

	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();

		InputTypes = Enum.GetValues<InputType>()
			.Skip(1) // we skip the 'InputType.Unset'
			.ToArray();
	}

	protected override void OnParametersSet()
	{
		base.OnParametersSet();

		if (Item == null)
		{
			throw new Exception($"Parameter '{nameof(Item)}' not provided.");
		}

		if (Item.Id == 0)
		{
			InitExcavatorPropertyType(Item);
		}
	}

	public override async Task ResetAsync()
	{
		Item = new();
		if (Item.Id == 0)
		{
			InitExcavatorPropertyType(Item);
		}

		if (ItemChanged.HasDelegate)
		{
			await ItemChanged.InvokeAsync(Item);
		}
	}

	public override async Task SaveItemAsync()
	{
		try
		{
			await api.SaveExcavatorPropertyTypeAsync(Item);
		}
		catch
		{
			throw new Exception($"Failed to save excavator property type with id '{Item.Id}'.");
		}

		if (OnSave.HasDelegate)
		{
			await OnSave.InvokeAsync();
		}
		
		if (AfterSaveAsync != null)
		{
			await AfterSaveAsync();
		}

		await ResetAsync();
	}

	private static void InitExcavatorPropertyType(ExcavatorPropertyType excavatorPropertyType)
	{
		excavatorPropertyType.ExcavatorTypesWithThisProperty ??= new List<ExcavatorType>();
	}
}
