#user-form {
	display: flex;
	flex-direction: column;
	align-content: center;
	margin: 12px auto;
	padding: 4px;
}

	#user-form h3 {
		margin-right: auto;
		margin-left: auto;
	}

.flex-no-wrap {
	flex-wrap: nowrap;
}

.form-group {
	margin: 8px;
	width: 45%;
}

#btn-panel {
	margin: 4px 0;
	position: relative;
}

.delete-account-btn {
	width: 116px;
	position: absolute;
	right: 18px;
}

.export-data-btn {
	position: absolute;
	right: calc(116px + 23.5px); /* width of .delete-account-btn + some margin */
}

@media (max-width: 950px) {
	.flex-no-wrap {
		flex-wrap: wrap;
	}

	.form-group {
		width: 100%;
		display: block;
	}
}
