@page "/pasove-nakladace-eurocomach"

<h3>Eurocomach- Pásové nakladače</h3>

<a href="/admin/novy-stroj/pasove-nakladace/eurocomach">Pridať novú ponuku</a>

@*pásové nakladače -> tracked loaders*@
<ExcavatorsLister ExcavatorBrand="eurocomach"
				  ExcavatorCategory="pásové nakladače" />

@code {

}
